/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*** Box for restore window ***/

#messengerWindow[sizemode="normal"][hidechrome="true"] #htitle-overlay-box {
  opacity: 1;
  visibility: visible;
  transition: visibility 0ms, opacity 300ms ease-out;
  transition-delay: 2s;
}

/*** Close button ***/

#htitle-close-button {
  min-width: 35px;
}

/*** Padding for tabs bar ***/

#messengerWindow[hidetitlebarwhenmaximized="true"] #mail-toolbar-menubar2[autohide="true"] ~ #tabs-toolbar,
#messengerWindow[htitlemode="always"] #mail-toolbar-menubar2[autohide="true"] ~ #tabs-toolbar,
#messengerWindow[hidechrome="true"] #mail-toolbar-menubar2[autohide="true"] ~ #tabs-toolbar {
  padding-top: 2px !important;
}

/*** ***/

#mail-toolbar-menubar2:not([autohide="true"]),
#tabs-toolbar,
#mail-bar3 {
  -moz-binding: url(chrome://global/content/bindings/toolbar.xml#toolbar-drag);
}
