/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*** Box for restore window ***/

#main-window[sizemode="normal"][hidechrome="true"] #htitle-overlay-box {
  opacity: 1;
  visibility: visible;
  transition: visibility 0ms, opacity 300ms ease-out;
}

/*** Padding for tabs bar ***/

#main-window[hidetitlebarwhenmaximized="true"] #toolbar-menubar[autohide="true"] ~ #TabsToolbar:not([tabsontop="false"]),
#main-window[htitlemode="always"] #toolbar-menubar[autohide="true"] ~ #TabsToolbar:not([tabsontop="false"]),
#main-window[hidechrome="true"] #toolbar-menubar[autohide="true"] ~ #TabsToolbar:not([tabsontop="false"]) {
  padding-top: 2px;
}

/*** ***/

#toolbar-menubar:not([autohide="true"]),
#TabsToolbar:not([tabsontop="false"]),
#nav-bar[tabsontop="false"] {
  -moz-binding: url(chrome://global/content/bindings/toolbar.xml#toolbar-drag);
}

/*** Popup menu ***/
#main-window[sizemode="normal"] #htitle-menuitem-unmaximize,
#main-window[sizemode="maximized"] #htitle-menuitem-maximize,
#main-window[sizemode="fullscreen"] #htitle-menuitem-unmaximize,
#main-window[sizemode="fullscreen"] #htitle-menuitem-maximize {
  display: none;
}
